.help{
    height: calc(100vh - 65px);
    margin-bottom: 50px;
}

.help__card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.help__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 20px;
    text-decoration: none;
    font-style: normal; 
    text-align: center; 
}

.help__image-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.help__icon{
    position: absolute;
    top: 70%;
    left: 25%;
    width: 50px;
    height: 50px;
}

.help__image{
    width: 100px;
    height: 100px;
    border-radius: 90px;
}
.help__title{
    text-align: center;
}

.help__name{
    color: black;
    font-weight: bold;
    margin: 0;
}

.help__description{
    color: #808080;
    margin: 0;
    white-space: pre-wrap;
}


.help__button{
    background-color: #7AA5B3;
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.help__button:hover{
    opacity: 1; /* Increase opacity on hover */
    transform: scale(1.05); /* Slightly enlarge the image */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
}

@media screen and (max-width: 800px) {
    .help{
        height: 100%;
        margin-bottom: 50px;
    }

    .help__name{
        text-align: center;
    }

    .help__card{
        width: 40%;
    }

    .help__card-container{
        justify-content:space-around;
    } 
}

@media screen and (max-width: 450px) {
    .help__card{
        width:80%;
    }
}