.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    align-content: center;
    text-align: center;
  }
  
  .button__book-time{
     background-color: #DE5F80;
     color: white;
     /* transition: background-color 0.3s ease;  */
     transition: all 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .button__book-time:hover {
    /* background-color: #d63436; */
    opacity: 1; /* Increase opacity on hover */
    transform: scale(1.05); /* Slightly enlarge the image */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
  }
  
  .button__book-gift {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Added box-shadow transition */
  }
  