.lecture{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 65px;
    height: calc(100vh - 65px);
}

.lecture__image{
    width: 200px;
    height: 200px;
}